@import "../defaults";

.timer {
    width: 100px;
    height: 100px;
    background-color: $background-color;
    border-radius: 50%;
    border: 5px solid $primary-color;
    display: table;
}

.timer__seconds {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-size: 30px;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    color: $primary-color;
}